@import "tailwindcss";

@font-face {
  font-family: "Tiempos Text";
  src: url("/tiempos/TestTiemposText-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("/montreal/PPNeueMontreal-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("/montreal/PPNeueMontreal-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "PP Neue Montreal", sans-serif;
  --font-serif: "Tiempos Text", Georgia, serif;
  /* surfaces */
  --color-surface-page: #090a0b;

  --color-surface-action: #FFEA28;
  --color-surface-action-hover: #33caff;
  --color-surface-action-hover-subtle: #d9f5ff;
  /* text/icon */
  --color-text-heading: #2f3330;
  --color-text-body: #4a544f;
  --color-text-muted: #798682;
  --color-text-on-action: #2e3330;
  --color-text-dark-heading: #f1f4f2;
  --color-text-dark-body: #c9cfcc;
  --color-text-dark-muted: #a9b2ab;
  /* borders */
  --color-border-default: #e4e6e7;

  --color-surface-dark: #131415;
  --color-border-default-dark: #27292b;
}

body {
  background-color: var(--color-surface-page);
  color: var(--color-text-heading);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100dvh;
  overflow-x: hidden;
}

::selection {
  background-color: color-mix(in srgb, var(--color-surface-action) 25%, black);
  color: white;
}

@keyframes preloader-intro {
  0% {
    opacity: 0;
  }
  18.75% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.preloader-intro {
  animation: preloader-intro 1.6s ease 0.4s forwards;
}
